.chocolate80bg {
  height: 100vh;
  background-color: var(--chocolate80);
}

.chocolate80filler {
  height: auto;
  background-color: var(--chocolate80);
}

.chocolate60bg {
  height: 100vh;
  background-color: var(--chocolate60);
}

.chocolate60filler {
  height: auto;
  background-color: var(--chocolate60);
}

.detailsContainer {
  background-color: var(--vanilla);
  border-radius: 0 0 15px 15px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mainDetailsContainer {
  border: 1px solid var(--textDark);
  border-radius: 15px;
  padding: 1rem;
}

.hr {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--textDark);
}

.purpose {
  font-family: 'Karla', sans-serif;
  margin-bottom: 0;
}
