.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.pageHeader {
  margin-bottom: 0;
}

.taskHeader {
  margin-right: auto;
}

.detailsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.progressbar {
  width: 20% !important;
}
